@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    background-color: #B099BF;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #CEBFD9;
    color: #8F6DA6;
    padding: 15px;
}

main {
    background-color: #F1F0F2;
    color: #8F6DA6;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
}

a {
    text-decoration: none;
    color: #F1F0F2;
}

