@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 1em;
    background-color: #B099BF;
    height: 100vh;
    width: 100vw;
}

header {
    background-color: #CEBFD9;
    color: #8F6DA6;
    padding: 15px;

    
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

main {
    background-color: #F1F0F2;
    color: #8F6DA6;
    margin: 10px;
    padding: 15px;
    border-radius: 15px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.432);
} 

header > nav {
    display: flex;
    flex-flow: row wrap;
}

header > nav > a {
    text-decoration: none;
    text-align: center;
    color: #F1F0F2;
    background-color: #B099BF;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
}

header > nav > a:hover {
    background-color: #F1F0F2;
    color: #B099BF;
    transition: background-color .3s;
}

header > h1 {
    flex: 0 0 200px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.267);
}